* {
    margin: 0;
    padding: 0;

}

html, body {
    width: 700px;
    margin: 0 auto;
    height: 100%;
    border: solid 1px lightgray;
    border-bottom: none;
}

#head {
    height: 5vh;
    width: 100%;
    display: flex;
}

.head-arrow {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.head {
    padding-left: 30px;
}

#cover-photo {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#round-photo {
    margin-top: -80px;
    margin-left: 20px;
    width: 22%;
    height: 15vh;
    border-radius: 100%;
    border: 3px solid white;
    z-index: 3;
}

#follow:hover{
    cursor: pointer;
    background-color: lightblue;
    opacity: .5;
}

#follow {
    display: flex;
    margin: -40px 0 15px 585px;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 20px;
}

#profile {
    height: 20vh;
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

strong {
    color: black;
}


p {
    color: gray;
}

.space > p {
    margin: 15px 0 15px;
}

.tabs {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 8px;
}

.tweet-area {
    width: 100%;
    display: flex;
    padding-top: 10px;
    box-sizing: border-box;
    
}

#tweet-photo {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#bottom-tweet-area {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px lightgrey;
}

#tweets {
    height: 40vh;
    width: 100%;
    border-top: 1px solid lightgrey;
    
}


